.accord {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transform: scaleY(1);
}

.accord:hover {
  background-color: rgb(240, 239, 239);
}

.section {
  transition: transform 0.3s ease-out;
  height: auto;
  transform: scaleY(1);
  transform-origin: top;
}

.collapsed {
  transform: scaleY(0);
  transform-origin: top;
  height: 0px;
}

@media (max-width: 700px) {
  .message {
    width: 100%;
    margin: 0 10vw;
    border: none !important;
  }

  #message-img {
    height: 40vh !important;
    margin: 20px auto;
    display: block;
    border: 1px solid black !important;
  }
  h2.ui.dividing.header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
