.detail-marker:hover {
  cursor: default;
}

.detail-close:hover {
  cursor: pointer;
}

.detail-description {
  padding: 10px;
  padding-top: 0px;
}

.detail-close {
  display: inline-block;
  margin-top: 12px;
}

.animate-table {
  max-height: 1000px !important;
  transition: max-height 1s ease-in-out !important;
}

#list-card {
  display: flex;
  border-bottom: 1px solid rgb(156, 154, 154);
}

#list-image {
  align-self: center;
}
