nav .button {
  margin-right: 10px !important;
}

@media (max-width: 685px) {
  nav .button {
    margin-top: 5px !important;
  }

  div.ui.container {
    margin: auto !important;
  }

  nav.ui.inverted.pointing.menu {
    min-height: 0;
    width: 100%;
    margin: 0px;
    overflow: hidden;
  }

  a.active.item {
    margin-right: 20px !important;
  }

  div.right.item {
    margin-top: 2vh !important;
    display: flex !important;
    flex-direction: column;
  }
}
