table.ui.celled td.category {
  padding-left: 30px;
  text-transform: capitalize;
  width: 25%;
  background-color: rgba(247, 244, 244, 0.952);
  font-weight: bold;
}

table.ui.celled td.result:hover {
  background-color: rgb(230, 216, 216);
  cursor: pointer;
}

table.ui.celled {
  box-shadow: 2px 2px 10px #817f7f;
  position: absolute;
  z-index: 9999;
  margin-top: 5px;
}
