:root {
  --dolly-900: #0c0c07; /* 900 */
  --dolly-800: #1d1d10; /* 800 */
  --dolly-600: #4f502c; /* 600 */
  --dolly-200: #9a9d57; /* 200 */
  --dolly-100: #d1d673; /* 100 */
  --dolly-20: #f6fa94; /* 20 */
}

html,
body {
  height: 100%;
}

.general {
  background-color: var(--dolly-20) !important;
  padding: 30px !important;
}

.dolly600 {
  color: var(--dolly-600) !important;
}

.dolly800-background {
  background-color: var(--dolly-800) !important;
}

.dolly200-background {
  background-color: var(--dolly-200) !important;
}

.dolly100-background {
  background-color: var(--dolly-100) !important;
}

.nobackground {
  background-color: white;
}

h4 {
  color: var(--dolly-600) !important;
}

input,
select {
  border-color: var(--dolly-200) !important;
}

input:focus,
select:focus {
  border-color: var(--dolly-900) !important;
}

.listing-detail {
  text-align: center;
  border-right: 1px solid black;
  height: 100%;
}

.listing-detail:last-child {
  border-right: none;
}

.listing-grid {
  padding: 0px !important;
  margin: 10px 0px 3px -20px !important;
}

.quill {
  margin-bottom: 15px;
}

.ql-editor {
  min-height: 80px;
}

.image-gallery-slide img {
  max-width: 100%;
  max-height: 750px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin: auto;
  display: block;
}

.image-gallery-image {
  background-color: var(--dolly-900);
}

.ui.horizontal.segments.equal.width > .ui.segment {
  flex-grow: 1;
  width: 0;
}

.accept {
  background-position: center !important;
  transition: background 0.8s !important;
  background-color: #9aff9f !important;
}

.accept:hover {
  cursor: pointer;
  background: #60fc60 radial-gradient(circle, transparent 1%, #60fc60 1%)
    center/15000% !important;
}

.accept:active {
  background-color: #6de07c !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

.reject {
  background-position: center !important;
  transition: background 0.8s !important;
  background-color: #ff9d9a !important;
}

.reject:hover {
  cursor: pointer;
  background: #f76969 radial-gradient(circle, transparent 1%, #f76969 1%)
    center/15000% !important;
}

.reject:active {
  background-color: #fa3f39 !important;
  background-size: 100% !important;
  transition: background 0s !important;
}
