.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 0px 0px;
  grid-auto-rows: 10px;
  background-color: var(--dolly-800);
  border: 1px solid var(--dolly-200);
}

.image-list img {
  max-width: 375px;
  border: 1px solid var(--dolly-800);
}

@media (max-width: 640px) {
  .image-list {
    text-align: center;
  }
}
