.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 360px;
  border: 1px solid white;
  border-radius: 3px;
}

.card {
  border: 2px solid black !important;
}
